@import "bootstrap/scss/functions"; 
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
$primary:#052849;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
);

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap');

body {
  font-family: "Outfit", sans-serif;
}

.product-subtitle {
  font-size: 0.8rem;
  color: #AAAAAA;
  
}

.product-tag {
  font-size: 0.7rem;
}

.product-table {
  th {
    padding: 1.5rem 2rem;
    font-weight: 400;
    i {
      margin-left: 0.5rem;
      cursor: pointer;
      color: #AAAAAA;
      &.active {
        color: black;
      }
    }
  }
  td {
    color: #AAAAAA;
    padding: 1.5rem 2rem;
    i {
      margin-left: 0.5rem;
      color: transparent;
    }
  }
}
